.env
.env.backup
.env.production
.git
.gitignore
.gitattributes
.hg
.svn
.DS_Store
Thumbs.db
node_modules/
vendor/
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/debugbar/*
storage/backups/*
storage/pail
bootstrap/cache/*.php
_ide_helper.php
.phpunit.result.cache
docker-compose*.yml
Dockerfile
tmp/
*.log
.npmrc
.editorconfig
artisan-local.bat
artisan-local.ps1
start-local.bat
start-local.ps1